XYZTravel/src/conf/xml-resources/web-service-references/currency/wsdl/localhost_8080/XYZTravel/currency.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="currency">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/XYZTravel/currency?xsd=1"/>
</xsd:schema>
</types>
<message name="nairasToDollars">
<part name="parameters" element="tns:nairasToDollars"/>
</message>
<message name="nairasToDollarsResponse">
<part name="parameters" element="tns:nairasToDollarsResponse"/>
</message>
<message name="rupeesToEuros">
<part name="parameters" element="tns:rupeesToEuros"/>
</message>
<message name="rupeesToEurosResponse">
<part name="parameters" element="tns:rupeesToEurosResponse"/>
</message>
<message name="dollarsToRupees">
<part name="parameters" element="tns:dollarsToRupees"/>
</message>
<message name="dollarsToRupeesResponse">
<part name="parameters" element="tns:dollarsToRupeesResponse"/>
</message>
<message name="nairasToRupees">
<part name="parameters" element="tns:nairasToRupees"/>
</message>
<message name="nairasToRupeesResponse">
<part name="parameters" element="tns:nairasToRupeesResponse"/>
</message>
<message name="rupeesToDollars">
<part name="parameters" element="tns:rupeesToDollars"/>
</message>
<message name="rupeesToDollarsResponse">
<part name="parameters" element="tns:rupeesToDollarsResponse"/>
</message>
<message name="rupeesToPounds">
<part name="parameters" element="tns:rupeesToPounds"/>
</message>
<message name="rupeesToPoundsResponse">
<part name="parameters" element="tns:rupeesToPoundsResponse"/>
</message>
<message name="dollarsToPounds">
<part name="parameters" element="tns:dollarsToPounds"/>
</message>
<message name="dollarsToPoundsResponse">
<part name="parameters" element="tns:dollarsToPoundsResponse"/>
</message>
<message name="dollarsToNairas">
<part name="parameters" element="tns:dollarsToNairas"/>
</message>
<message name="dollarsToNairasResponse">
<part name="parameters" element="tns:dollarsToNairasResponse"/>
</message>
<message name="poundsToRupees">
<part name="parameters" element="tns:poundsToRupees"/>
</message>
<message name="poundsToRupeesResponse">
<part name="parameters" element="tns:poundsToRupeesResponse"/>
</message>
<message name="dollarsToEuros">
<part name="parameters" element="tns:dollarsToEuros"/>
</message>
<message name="dollarsToEurosResponse">
<part name="parameters" element="tns:dollarsToEurosResponse"/>
</message>
<message name="rupeesToNairas">
<part name="parameters" element="tns:rupeesToNairas"/>
</message>
<message name="rupeesToNairasResponse">
<part name="parameters" element="tns:rupeesToNairasResponse"/>
</message>
<message name="nairasToPounds">
<part name="parameters" element="tns:nairasToPounds"/>
</message>
<message name="nairasToPoundsResponse">
<part name="parameters" element="tns:nairasToPoundsResponse"/>
</message>
<message name="eurosToDollars">
<part name="parameters" element="tns:eurosToDollars"/>
</message>
<message name="eurosToDollarsResponse">
<part name="parameters" element="tns:eurosToDollarsResponse"/>
</message>
<message name="nairasToEuros">
<part name="parameters" element="tns:nairasToEuros"/>
</message>
<message name="nairasToEurosResponse">
<part name="parameters" element="tns:nairasToEurosResponse"/>
</message>
<message name="eurosToPounds">
<part name="parameters" element="tns:eurosToPounds"/>
</message>
<message name="eurosToPoundsResponse">
<part name="parameters" element="tns:eurosToPoundsResponse"/>
</message>
<message name="poundsToEuros">
<part name="parameters" element="tns:poundsToEuros"/>
</message>
<message name="poundsToEurosResponse">
<part name="parameters" element="tns:poundsToEurosResponse"/>
</message>
<message name="eurosToRupees">
<part name="parameters" element="tns:eurosToRupees"/>
</message>
<message name="eurosToRupeesResponse">
<part name="parameters" element="tns:eurosToRupeesResponse"/>
</message>
<message name="poundsToDollars">
<part name="parameters" element="tns:poundsToDollars"/>
</message>
<message name="poundsToDollarsResponse">
<part name="parameters" element="tns:poundsToDollarsResponse"/>
</message>
<message name="poundsToNairas">
<part name="parameters" element="tns:poundsToNairas"/>
</message>
<message name="poundsToNairasResponse">
<part name="parameters" element="tns:poundsToNairasResponse"/>
</message>
<message name="eurosToNairas">
<part name="parameters" element="tns:eurosToNairas"/>
</message>
<message name="eurosToNairasResponse">
<part name="parameters" element="tns:eurosToNairasResponse"/>
</message>
<portType name="currency">
<operation name="nairasToDollars">
<input wsam:Action="http://webservices/currency/nairasToDollarsRequest" message="tns:nairasToDollars"/>
<output wsam:Action="http://webservices/currency/nairasToDollarsResponse" message="tns:nairasToDollarsResponse"/>
</operation>
<operation name="rupeesToEuros">
<input wsam:Action="http://webservices/currency/rupeesToEurosRequest" message="tns:rupeesToEuros"/>
<output wsam:Action="http://webservices/currency/rupeesToEurosResponse" message="tns:rupeesToEurosResponse"/>
</operation>
<operation name="dollarsToRupees">
<input wsam:Action="http://webservices/currency/dollarsToRupeesRequest" message="tns:dollarsToRupees"/>
<output wsam:Action="http://webservices/currency/dollarsToRupeesResponse" message="tns:dollarsToRupeesResponse"/>
</operation>
<operation name="nairasToRupees">
<input wsam:Action="http://webservices/currency/nairasToRupeesRequest" message="tns:nairasToRupees"/>
<output wsam:Action="http://webservices/currency/nairasToRupeesResponse" message="tns:nairasToRupeesResponse"/>
</operation>
<operation name="rupeesToDollars">
<input wsam:Action="http://webservices/currency/rupeesToDollarsRequest" message="tns:rupeesToDollars"/>
<output wsam:Action="http://webservices/currency/rupeesToDollarsResponse" message="tns:rupeesToDollarsResponse"/>
</operation>
<operation name="rupeesToPounds">
<input wsam:Action="http://webservices/currency/rupeesToPoundsRequest" message="tns:rupeesToPounds"/>
<output wsam:Action="http://webservices/currency/rupeesToPoundsResponse" message="tns:rupeesToPoundsResponse"/>
</operation>
<operation name="dollarsToPounds">
<input wsam:Action="http://webservices/currency/dollarsToPoundsRequest" message="tns:dollarsToPounds"/>
<output wsam:Action="http://webservices/currency/dollarsToPoundsResponse" message="tns:dollarsToPoundsResponse"/>
</operation>
<operation name="dollarsToNairas">
<input wsam:Action="http://webservices/currency/dollarsToNairasRequest" message="tns:dollarsToNairas"/>
<output wsam:Action="http://webservices/currency/dollarsToNairasResponse" message="tns:dollarsToNairasResponse"/>
</operation>
<operation name="poundsToRupees">
<input wsam:Action="http://webservices/currency/poundsToRupeesRequest" message="tns:poundsToRupees"/>
<output wsam:Action="http://webservices/currency/poundsToRupeesResponse" message="tns:poundsToRupeesResponse"/>
</operation>
<operation name="dollarsToEuros">
<input wsam:Action="http://webservices/currency/dollarsToEurosRequest" message="tns:dollarsToEuros"/>
<output wsam:Action="http://webservices/currency/dollarsToEurosResponse" message="tns:dollarsToEurosResponse"/>
</operation>
<operation name="rupeesToNairas">
<input wsam:Action="http://webservices/currency/rupeesToNairasRequest" message="tns:rupeesToNairas"/>
<output wsam:Action="http://webservices/currency/rupeesToNairasResponse" message="tns:rupeesToNairasResponse"/>
</operation>
<operation name="nairasToPounds">
<input wsam:Action="http://webservices/currency/nairasToPoundsRequest" message="tns:nairasToPounds"/>
<output wsam:Action="http://webservices/currency/nairasToPoundsResponse" message="tns:nairasToPoundsResponse"/>
</operation>
<operation name="eurosToDollars">
<input wsam:Action="http://webservices/currency/eurosToDollarsRequest" message="tns:eurosToDollars"/>
<output wsam:Action="http://webservices/currency/eurosToDollarsResponse" message="tns:eurosToDollarsResponse"/>
</operation>
<operation name="nairasToEuros">
<input wsam:Action="http://webservices/currency/nairasToEurosRequest" message="tns:nairasToEuros"/>
<output wsam:Action="http://webservices/currency/nairasToEurosResponse" message="tns:nairasToEurosResponse"/>
</operation>
<operation name="eurosToPounds">
<input wsam:Action="http://webservices/currency/eurosToPoundsRequest" message="tns:eurosToPounds"/>
<output wsam:Action="http://webservices/currency/eurosToPoundsResponse" message="tns:eurosToPoundsResponse"/>
</operation>
<operation name="poundsToEuros">
<input wsam:Action="http://webservices/currency/poundsToEurosRequest" message="tns:poundsToEuros"/>
<output wsam:Action="http://webservices/currency/poundsToEurosResponse" message="tns:poundsToEurosResponse"/>
</operation>
<operation name="eurosToRupees">
<input wsam:Action="http://webservices/currency/eurosToRupeesRequest" message="tns:eurosToRupees"/>
<output wsam:Action="http://webservices/currency/eurosToRupeesResponse" message="tns:eurosToRupeesResponse"/>
</operation>
<operation name="poundsToDollars">
<input wsam:Action="http://webservices/currency/poundsToDollarsRequest" message="tns:poundsToDollars"/>
<output wsam:Action="http://webservices/currency/poundsToDollarsResponse" message="tns:poundsToDollarsResponse"/>
</operation>
<operation name="poundsToNairas">
<input wsam:Action="http://webservices/currency/poundsToNairasRequest" message="tns:poundsToNairas"/>
<output wsam:Action="http://webservices/currency/poundsToNairasResponse" message="tns:poundsToNairasResponse"/>
</operation>
<operation name="eurosToNairas">
<input wsam:Action="http://webservices/currency/eurosToNairasRequest" message="tns:eurosToNairas"/>
<output wsam:Action="http://webservices/currency/eurosToNairasResponse" message="tns:eurosToNairasResponse"/>
</operation>
</portType>
<binding name="currencyPortBinding" type="tns:currency">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="nairasToDollars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rupeesToEuros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dollarsToRupees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nairasToRupees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rupeesToDollars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rupeesToPounds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dollarsToPounds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dollarsToNairas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poundsToRupees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dollarsToEuros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="rupeesToNairas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nairasToPounds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eurosToDollars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="nairasToEuros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eurosToPounds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poundsToEuros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eurosToRupees">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poundsToDollars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poundsToNairas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eurosToNairas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="currency">
<port name="currencyPort" binding="tns:currencyPortBinding">
<soap:address location="http://localhost:8080/XYZTravel/currency"/>
</port>
</service>
</definitions>